html, body {
  height: 100%;
  margin: 0%;
  padding: 0%;
}

body {
  position: relative; 
}

.container {
  width: 35%;
}

h4 {
  color: white;
  padding-bottom: 0.5%; 
  border-radius: 2%;
  border-radius: 5px;
}

#images {
  margin: 0;
  position: fixed;
  width: 30%;
  top: 51%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#btn {
	height: 35px;
	color: #3c3760;
	border-radius: 25px;
	background-color: #e5ccff;
  border: 2px solid  #e5ccff;
	outline: 0;
}

#btn:hover {
	background-color: #3c3760; 
	color: white;
	cursor: pointer;
	transition-duration: 0.5s;
}

#p-bar {
  position:absolute;
  top: 13%;
}

.msg {
  position:absolute;
  top: 7%;
}

@media screen and (max-width: 1000px) {
  #images {
    width: 40%;
  }
  .container {
    width: 60%;
  }
}

@media screen and (max-width: 800px) {
  #images {
    width: 50%;
  }
  .container {
    width: 65%;
  }
}
 
@media screen and (max-width: 500px) {
  #images {
    width: 95%;
  }
  .container {
    width: 100%;
  }
  h1 {
    font-size: 1.8rem;
    margin-top: 10px;
  }
  h4,h3 {
    font-size: 1.2rem;
  }
  .msg {
    top: 8%;
  }
}
